@font-face {
    font-family: "Rounded";
    src: local("VAG-Rounded-Next-Regular"), url(../fonts/VAG-Rounded-Next-Regular.woff2) format(woff2);
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Rounded";
    src: local("VAG-Rounded-Next-Bold"), url(../fonts/vag_rounded_boldcyrusbyme.woff2) format(woff2);
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}